.button {
  display: block;
  margin-top: 30px;
}

.account {
  margin-top: 15px;
  border-bottom: black;
}

aside {
  margin: 0px;
  clear: none;
}

.aside {
  border-right: #bdbdbd 1px solid;
  width: 230px;
  // min-width: 70px;
  height: 100vh;
  // height: 700px;
  padding: 10px;
  margin: 0px;
  // background-color: #01579b;
  position: absolute;
  left: 0px;
}

.entertainment-search {
  margin-top: 30px;
}

.entertainment-delete {
  margin-top: 30px;
}

.container {
  // margin-top: 20px;
  width: 400px;
}

.messages {
  border: #bdbdbd 1px solid;
  width: 400px;
  height: 100px;
  margin: 20px 20px 20px 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

.content {
  border: #bdbdbd 1px solid;
  margin-left: 250px;
  width: 400px;
  height: 530px;
  float: left;
  clear: left;
}

ul {
  list-style-type: none;
}

.hide {
  display: none;
}
